body {
  font-family: 'Helvetica', sans-serif;
  background-color: #BDF3F9;
  width: 100%;
}

h1 {
  text-align: center;
}

p{
    text-align: center;
}

.racer_table {
  width: 100%;
  margin: 0 auto;
  border: solid 3px;
}
.racer_table td {
  background-color: white;
  height: 90px;
  width: 64px;
  text-align: center;
}

.racer_table td.active {
  background-image: url("yoshiDude.png");
  width: 11.45%;
}

.reset{
    text-align: center;
    margin-top: 5%;

}

