body {
  font-family: 'Helvetica', sans-serif;
  background-color: #BDF3F9;
  width: 100%;
}

h1 {
  text-align: center;
}

p{
    text-align: center;
}

.racer_table {
  width: 100%;
  margin: 0 auto;
  border: solid 3px;
}
.racer_table td {
  background-color: white;
  height: 140px;
  width: 64px;
  text-align: center;
}


.reset{
    text-align: center;
    margin-top: 5%;
}

.yoshi{
  width: 70%;
}

.active{
  background-image: url("yoshiDude.png");
  width: 11.45%;
  margin: 1%;
  background-repeat: no-repeat;
}


.active1{
  background-image: url("yoshiDude.png");
  width: 11.45%;
  margin: 1%;
  background-repeat: no-repeat;
}


#pbox1, #pbox2, #pbox3, #pbox4, #pbox5, #pbox6, #pbox7, #pbox8, #pbox9, #pbox10, #pbox11, #pbox12{
  background-image: url("");
  width: 11.45%;
  margin: 1%;
  background-repeat: no-repeat;
}

